.Container {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: #0bdebe;
    font-family: 'Exo', sans-serif;
}
.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Logo {
    padding-top: 100px;
    font-weight: bold;
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 50px;
    text-align: center;
    color: white;
}
.input-field{
    width: fit-content;
    margin-top: 50px;
}

.buttonDiv{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.limitButton{
    width: 50px;
}