.nav-container{
    display: flex;
    width: 100%;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #0bdebe;
    font-family: 'Exo', sans-serif;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo{
    color: white;
    text-align: center;
    font-weight: bold;
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 30px;
}

.profile_img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
    padding-top: 10px;
}

.profile_menu{
    width: 200px;
    background-color: white;
    height: fit-content;
    margin-right: 5px;
    position: absolute;
    margin-top: 50px;
    font-family: 'Exo', sans-serif;


}
.profile_menu::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 90%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }
.align_right_container{
    display: flex;
    justify-content: right;
    
}

.profile_img_big{
    width: 50px;
    height: 50px;
}

.center_content_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.back_icon{
    margin-left: 10px;
    margin-top: 13px;
}