.imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.image {
    display: flex;
    width: 100%;
    height: auto;
}

.text {
    display: flex;
    margin-top: 5px;
    padding: 5px;
}

.reactionBox{
    display: flex;
    justify-content: space-around;
}
.field{
    width: 100%;
    margin: 5px;
    margin-right: 10px;

    font-family: 'Exo', sans-serif;

}

.btn{
    width: 24%;
}

.heightLimit{
    height: 40px;
}
.flex{
    display: flex;
    justify-items: start;
    align-items: center;
    font-family: 'Exo', sans-serif;

}

.comments_collapsed{
    max-height: 35px;
    overflow: hidden;
}

.comments_expanded{
    height: fit-content;

}

.text_margin{
    margin-right: 10px;
}
